<div class="about">

  <img class="card-img-top img-fluid" src="assets/images/estudo.jpg" style="text-align: center; width: 100%; height: 350px;">
  <br />
  <br />

  <h3 style="color:black">O que é o PLURI?</h3>
  <p style="color:black; text-align: justify;">
    Alunos do Ensino Médio do Instituto Federal de Educação, Ciência e Tecnologia do Triângulo Mineiro campus Patrocínio, realizam atualmente uma prova que ocorre trimestralmente e que engloba todos os conteúdos abordados em sala de aula. Esta prova é chamada de Pluri e visa além de cobrar o conteúdo que apresentado ao aluno para atribuir pontos em suas respectivas matérias, prepará-lo para realização de vestibulares e Enem.
  </p>
  <br />
  
  <h3 style="color:black">O que é a Comissão e quem são os responsáveis?</h3>
  <p style="color:black; text-align: justify;">
    A comissão responsável pelo Pluri é formada pelos professores do Instituto. Essa comissão é responsável pela elaboraçaõ e correção da avaliação, emissão de gabaritos preliminares e definitivos, validação de recursos que são feitos pelos alunos e ainda pela devolução da prova do Pluri.
  </p>
  <br />
  
  <h3 style="color:black">O que é o PLURI Online?</h3>
  <p style="color:black; text-align: justify;">
    A prova possui bastante importância para o IFTM visto que a mesma reflete diretamente na nota geral do estudante atribuindo pontos em cada matéria cursada pelo aluno e ainda o prepara para realização de futuras provas.
  </p>

  <p style="color:black; text-align: justify;">
   Por ter tal importância a prova vem acompanhada de diversos processos que são de responsabilidade da comissão responsável, alguns deles já citados acima como: elaboraçaõ e correção da avaliação, emissão de gabaritos preliminares e definitivos, validação de recursos que são feitos pelos alunos e ainda pela devolução da prova do Pluri. Estes processos eram realizados manualmente pela comissão e geravam um tempo maior e um risco eminente de falhas.
  </p>

  <p style="color:black; text-align: justify;">
    A aplicação Pluri Online visa a automatização destes processos e ainda um método de revisão do conteúdo aplicado em sala de aula ao o aluno, através do módulo de simulação de provas, que incorpora conceitos de gamificação para que a revisão possua uma forma mais atrativa.
  </p>


  <br />
  <br />
  <br />
</div>