<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0 float-right" >
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark">
            <img src="assets/images/logopluri3.png" alt="user" class="profile-pic" style="margin-left:150px; width: 20px; height: 20px;"/>
        </a>
    </li>
</ul>